html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Resgister
    link(rel='stylesheet', href='../../asset/css/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    nav.navbar.navbar-expand-md.navbar-light.bg-light.custom-nav
      .container
        a.navbar-brand.custom-nav--brand(href='./homev2.html')
          img.custom-nav--logo(src='../../asset/images/logo.png')
        button.navbar-toggler.d-lg-none(type='button', data-toggle='collapse', data-target='#collapsibleNavId', aria-controls='collapsibleNavId', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #collapsibleNavId.collapse.navbar-collapse
          ul.navbar-nav.mx-auto.mt-2.mt-lg-0.custom-nav--list
            li.nav-item.active
              a.nav-link(href='./homev2.html')
                | Trang chủ
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='./aboutUs.html') Giới thiệu
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Sản phẩm
              .dropdown-menu.custom-dropdown-menu(aria-labelledby='navbarDropdown')
                .menu__item
                  .menu__item--detail.mr-5
                    h6 DƯỠNG DA
                    hr
                    ul.list-unstyled.text-muted.text-lowercase.font-weight-normal
                      each item in ['Áo khoác','Bộ áo liền quần','Trang sức','Quần/ váy','Quần short','Quần jean','Đồ đan','Áo nỉ']
                        li
                          a(href="./gird.html")= item
                  .menu__item--detail.ml-5.mr-5
                    h6 DƯỠNG DA
                    hr
                    ul.list-unstyled.text-muted.text-lowercase.font-weight-normal
                      each item in ['Áo cánh/ áo sơ mi','Túi sách, balo','Khăn choàng cổ','Hats & Gloves','Vớ & socks','Jewerly','Bị bảo vệ','Giày thể thao']
                        li
                          a(href="#")= item
                  .menu__item--detail.ml-5
                    h6 DƯỠNG DA
                    hr
                    ul.list-unstyled.text-muted.text-lowercase.font-weight-normal
                      each item in ['Áo khoác','Bộ áo liền quần','Dresses','Quần/ váy','Quần short','Quần jean','Đồ đan','Áo nhập khẩu']
                        li
                          a(href="#")= item
            li.nav-item
              a.nav-link(href='./page404.html')
                | Tin tức
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='./page404.html') Bản đồ
            li.nav-item
              a.nav-link(href='./contactUs.html') Liên hệ
          li.nav-item.dropdown
            a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.fas.fa-shopping-cart.custom-nav--cart.mr-5.ml-5.mb-4
            .dropdown-menu.custom-dropdown-menu(aria-labelledby='navbarDropdown')
              .menu__item.menu__item--shoppingcart
                .menu__item--detail.mb-4
                  img.mr-3.float-left(src='../../asset/images/man-spc.png')
                  p.float-left.mr-2.mb-1 Áo sơ mi nam
                  i.fas.fa-times
                  img.float-left(src='../../asset/images/navbar-120k.png')
                .menu__item--detail.mb-4
                  img.mr-3.float-left(src='../../asset/images/man-spc.png')
                  p.float-left.mr-2.mb-1 Áo sơ mi nam
                  i.fas.fa-times
                  img.float-left(src='../../asset/images/navbar-120k.png')
                hr
                p.float-left.mr-5 Tổng số
                figure
                  strong  240.000 đ
                a.btn.btn-dark.custom-btn(name='', href='#', role='button') GIỎ HÀNG
          form.form-inline.my-2.my-lg-0
            a.deco-a(href="#")
             <i class="fas fa-search"></i>

    nav(aria-label='breadcrumb')
      ol.breadcrumb.custom-breadcrumb
        .container
          .row
            li.breadcrumb-item
              a(href='./homev2.html') Home
            li.breadcrumb-item Đăng ký
    .aboutUs
      .container
        .row
          .col-sm-3.mb-3
            h4.para VỀ CHÚNG TÔI
      .container
        .row
          .col-md-6
            img.aboutUs--img(src='../../asset/images/aboutUs.png')
          .col-md-6
            img(src='../../asset/images/logo.png')
            h5.mt-4 GIỚI THIỆU CHUNG VỀ MỸ PHẨM MANDALA
            p.para.para--about
              | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
            a(href='#') Xem thêm
      footer
        .container
          .row
            .col-md-4
              ul.text.list-unstyled.text-muted
                li
                  strong LIÊN HỆ VỚI CHÚNG TÔI
                each info in ['tầng 4, tòa nhà Hanoi Group Số 442 Hàng Giấy, Quận Hoàn Kiếm, Thành phố Hà Nội','(04) 6674 2332 - (04) 5785 2015','(04) 6674 2332 - Tinphamtp@gmail.com']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong CHUYỂN HÀNG
                each info in ['Mua sắm trực tuyến','Chính sách vận chuyển','Chính sách người dùng','Thông tin vận chuyển']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong HỖ TRỢ
                each info in ['Our story','Thanh toán an toàn','Thanh toán nhanh', 'Chính sách vận chuyển']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong THÔNG TIN
                each info in ['Về chúng tôi','Điều khoản & điều kiện','Điều khoản & yêu cầu','Đơn đặt hàng']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong MY ACCOUNT
                each key, value in {'./shoppingCart.html':'Giỏ hàng','./account.html':'My account','./resgister.html':'Đăng ký tài khoản','./login.html':'Đăng nhập'}
                  li
                    a.text-muted(href= value)= key
        hr
        .pay
          .container
            .row
              .col-sm-6
                p.para.para--pay CopyRight@ 2015 - 2019 | Danang Sun-asterisk
              .col-6.col-md-3.offset-md-2.offset-lg-3
                a(href='#')
                  img.shoppingCart--img(src='../../asset/images/pay.png')
