doctype html
html(lang='en')
  head
    title Blog detail
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='../../asset/css/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    nav.navbar.navbar-expand-md.navbar-light.bg-light.custom-nav
      .container
        a.navbar-brand.custom-nav--brand(href='#')
          img.custom-nav--logo(src='../../asset/images/logo.png')
        button.navbar-toggler.d-lg-none(type='button', data-toggle='collapse', data-target='#collapsibleNavId', aria-controls='collapsibleNavId', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #collapsibleNavId.collapse.navbar-collapse
          ul.navbar-nav.mx-auto.mt-2.mt-lg-0.custom-nav--list
            li.nav-item.active
              a.nav-link(href='#')
                | Trang chủ
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Giới thiệu
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Sản phẩm
              .dropdown-menu.custom-dropdown-menu(aria-labelledby='navbarDropdown')
                .menu__item
                  .menu__item--detail.mr-5
                    h6 DƯỠNG DA
                    hr
                    ul.list-unstyled.text-muted.text-lowercase.font-weight-normal
                      each item in ['Áo khoác','Bộ áo liền quần','Dresses','Quần/ váy','Quần short','Quần jean','Đồ đan','Áo nỉ']
                        li
                          a(href="#")= item
                  .menu__item--detail.ml-5.mr-5
                    h6 DƯỠNG DA
                    hr
                    ul.list-unstyled.text-muted.text-lowercase.font-weight-normal
                      each item in ['Áo khoác','Bộ áo liền quần','Dresses','Quần/ váy','Quần short','Quần jean','Đồ đan','Áo nỉ']
                        li
                          a(href="#")= item
                  .menu__item--detail.ml-5
                    h6 DƯỠNG DA
                    hr
                    ul.list-unstyled.text-muted.text-lowercase.font-weight-normal
                      each item in ['Áo khoác','Bộ áo liền quần','Dresses','Quần/ váy','Quần short','Quần jean','Đồ đan','Áo nhập khẩu']
                        li
                          a(href="#")= item
            li.nav-item
              a.nav-link(href='#')
                | Tin tức
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Bản đồ
            li.nav-item
              a.nav-link(href='#') Liên hệ
          li.nav-item.dropdown
            a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.fas.fa-shopping-cart.custom-nav--cart.mr-5.ml-5.mb-4
            .dropdown-menu.custom-dropdown-menu(aria-labelledby='navbarDropdown')
              .menu__item.menu__item--shoppingcart
                .menu__item--detail.mb-4
                  img.mr-3.float-left(src='../../asset/images/man-spc.png')
                  p.float-left.mr-2.mb-1 Áo sơ mi nam
                  i.fas.fa-times
                  img.float-left(src='../../asset/images/navbar-120k.png')
                .menu__item--detail.mb-4
                  img.mr-3.float-left(src='../../asset/images/man-spc.png')
                  p.float-left.mr-2.mb-1 Áo sơ mi nam
                  i.fas.fa-times
                  img.float-left(src='../../asset/images/navbar-120k.png')
                hr
                p.float-left.mr-5 Tổng số
                figure
                  strong  240.000 đ
                a.btn.btn-dark.custom-btn(name='', href='#', role='button') GIỎ HÀNG
          form.form-inline.my-2.my-lg-0
            button.btn.btn-outline-success.my-2.my-sm-0.ml-auto(type='submit')
    nav(aria-label='breadcrumb')
      ol.breadcrumb.custom-breadcrumb
        .container
          .row.pl-3
            li.breadcrumb-item
              a(href='#') Home
            li.breadcrumb-item
              a(href='#') Blog
          hr
    .blogDetail
      .container
        .row
          .col-3
            h3 BLOG
      .container
        .row
          .col-md-3.d-none.d-md-block
            .new-post
              p
                strong  BÀI VIẾT MỚI NHẤT
              hr
              .row.mb-4
                .col-5
                  a(href='#')
                    img.blogDetail__img(src='../../asset/images/subPhoto-blogDetail.png')
                .col-7
                  h6.mb-0 Sống khỏe
                  small Đăng bởi GiangLe
              .row.mb-4
                .col-5
                  a(href='#')
                    img.blogDetail__img(src='../../asset/images/subPhoto-blogDetail2.png')
                .col-7
                  h6.mb-0 Chơi khỏe
                  small Đăng bởi GiangLe
              .row.mb-5
                .col-5
                  a(href='#')
                    img.blogDetail__img(src='../../asset/images/subPhoto-blogDetail.png')
                .col-7
                  h6.mb-0 Ngủ khỏe
                  small Đăng bởi GiangLe
            .tags-blog.mb-5
              p
                strong BLOG TAGS
              hr
              each tag in ['Đồng hồ','Giày','Sandal','Áo sơ mi','Dresses','Du lịch','Trẻ em','Sport life']
                a.btn.btn-light.custom-btn.mr-1(href='#', role='button')= tag
              .last-video
              p
                strong LAST VIDEO
              hr
              a(href='#')
                img.blogDetail__img(src='../../asset/images/lastVideo.png')
          .col-md-9.pl-sm-5
            .row
              .col-12
                img.blogDetail__img.mb-5(src='../../asset/images/mainPhoto-blogDetail.png')
                h3 NÀNG BÉO KHÔNG NGẠI DIỆN VÁY ÁO NỔI BẬT
                p
                  | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog
                  | này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải
                  | nhiệt.Trong tiết xuân hè, nàng ngoại cỡ thắp sáng phong cách bằng quần họa tiết nhiệt
                  | đới đi kèm áo sơ mi nhã nhặn.Trang phục họa tiết điện tử được nàng phối cùng chân váy kẻ
                  | caro, làm nên style vừa hiện đại, vừa phảng phất nét cổ điển.Lối diện đồ hàng ngày đơn
                  | giản, khỏe khoắn của cô khi kết hợp chất liệu jean.Nữ blogger rực rỡ khi hòa trộn các
                  | gam đỏ, hồng, tím... một cách vui tươi, kèm theo các phụ kiện điệu đà.
                p.text-muted.mb-0 Bởi Nam Trần
                p.text-muted Ngày đăng: 27/12/2019
                .row
                  .col-6.mr-auto
                    a.text-muted(href='#') Đọc thêm
                  p.text-muted 124 Bình luận
                p.text-muted Tag:
                a.text-muted(href='#') Men
            hr
            .container
              .row
                p
                  strong ĐÓNG GÓP Ý KIẾN
                table.table
                  tbody
                    tr
                      td Tên*
                      td
                        .form-group
                          input.form-control.custom-input--detail(type='text')
                    tr
                      td Email*
                      td
                        .form-group
                          input.form-control.custom-input--detail(type='text')
                    tr
                      td(scope='row') Ý kiến
                      td
                        textarea.blogDetail__img.mb-4(cols='50', rows='5')
                        a.btn.btn-dark.custom-btn(href='#', role='button') GỬI Ý KIẾN
    footer
        .container
          .row
            .col-md-4
              ul.text.list-unstyled.text-muted
                li
                  strong LIÊN HỆ VỚI CHÚNG TÔI
                each info in ['tầng 4, tòa nhà Hanoi Group Số 442 Hàng Giấy, Quận Hoàn Kiếm, Thành phố Hà Nội','(04) 6674 2332 - (04) 5785 2015','(04) 6674 2332 - Tinphamtp@gmail.com']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong CHUYỂN HÀNG
                each info in ['Mua sắm trực tuyến','Chính sách vận chuyển','Chính sách người dùng','Thông tin vận chuyển']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong HỖ TRỢ
                each info in ['Our story','Thanh toán an toàn','Thanh toán nhanh', 'Chính sách vận chuyển']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong THÔNG TIN
                each info in ['Về chúng tôi','Điều khoản & điều kiện','Điều khoản & yêu cầu','Đơn đặt hàng']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong MY ACCOUNT
                each info in ['Giỏ hàng','Sản phẩm yêu thích','Sản phẩm thường xem','Kiểm tra']
                    li= info
        hr
        .pay
          .container
            .row
              .col-sm-6
                p.para.para--pay CopyRight@ 2015 - 2019 | Danang Sun-asterisk
              .col-6.col-md-3.offset-md-3
                a(href='#')
                  img.shoppingCart--img(src='../../asset/images/pay.png')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
