doctype html
html(lang='en')
  head
    title Detail
    // Required meta tags
    meta(charset='utf-8')
    link(rel='stylesheet', href='../../asset/css/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    .detail
      nav.navbar.navbar-expand-md.navbar-light.bg-light.custom-nav
        .container
          a.navbar-brand.custom-nav--brand(href='./pug/home.html')
            img.custom-nav--logo(src='../../asset/images/logo.png')
          button.navbar-toggler.d-lg-none(type='button', data-toggle='collapse', data-target='#collapsibleNavId', aria-controls='collapsibleNavId', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #collapsibleNavId.collapse.navbar-collapse
            ul.navbar-nav.mx-auto.mt-2.mt-lg-0.custom-nav--list
              li.nav-item.active
                a.nav-link(href='#')
                  | Trang chủ
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='#') Giới thiệu
              li.nav-item.dropdown
                a#dropdownId.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Sản phẩm
                .dropdown-menu(aria-labelledby='dropdownId')
                  a.dropdown-item(href='#')
                    | Action
                    | 1
                  a.dropdown-item(href='#') Action 2
              li.nav-item
                a.nav-link(href='#')
                  | Tin tức
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='#') Bản đồ
              li.nav-item
                a.nav-link(href='#') Liên hệ
            i.fas.fa-shopping-cart.custom-nav--cart.mr-5.ml-5
            form.form-inline.my-2.my-lg-0
              button.btn.btn-outline-success.my-2.my-sm-0.ml-auto(type='submit')
      nav(aria-label='breadcrumb')
        ol.breadcrumb.custom-breadcrumb
          .container
            .row
              li.breadcrumb-item
                a(href='../../pug/home.html') Home
              li.breadcrumb-item Sản phẩm
              li.breadcrumb-item Trang sức
              li.breadcrumb-item Lắc tay
            hr
      .detail
        .container
          .row.align-items-center
            .col-4.col-md-1
              a(href='#')
                img.ml-2(src='../../asset/images/up-arrow.png')
              img(src='../../asset/images/detail1.png')
              img(src='../../asset/images/detail2.png')
              img(src='../../asset/images/detail3.png')
              img(src='../../asset/images/detail4.png')
              a(href='#')
                img.ml-2(src='../../asset/images/down-arrow.png')
            .col-8.col-md-6
              img.detail__img(src='../../asset/images/detail.png')
            .col-md-5
              h5.mb-0 LẮC TAY TIFFANY XU HƯỚNG MỚI NHẤT
              small.text-muted TIFFANY MS 8050
              br
              img.mt-3.mb-4(src='../../asset/images/955k.png')
              p.para.para--detail
                | Không thể phủ nhận, thời trang và phong cách chính là “tuyên
                | ngôn”
                | không lời
                | mạnh mẽ nhất của mỗi người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và
                | có
                | khi là nguồn cảm hứng vô tận để phái đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại
                | của
                | thế giới. Để F5 tủ đồ của mình trước những xu hướng ngày một đa dạng hơn trong thế giới
                | thời
                | trang, nhiều chị em không ngần ngại chi tiêu “mạnh tay” để sở hữu những
                | món đồ yêu thích.
              .form-group
                label(for='')
                  strong  MÀU SẮC
                input.form-control.custom-input--detail(type='text', name='', id='', aria-describedby='helpId', placeholder='Màu bạc')
                br
                label(for='')
                  strong  SIZE
                input.form-control.custom-input--detail(type='text', name='', id='', aria-describedby='helpId', placeholder='12')
              b
                p SỐ LƯỢNG
              a.btn.btn-light.custom-btn.custom-btn--detail(name='', id='', href='#', role='button')
                | Mua
                | hàng
              img.ml-1(src='../../asset/images/green-heart.png')
              br
              small
                | Shipping &
                a(href='#') return
              img.detail__img(src='../../asset/images/links.png')
      br
      article
        .container
          .row
            .col-lg-9
              a.mr-4.detail__deco-a(href='#')
                strong  ĐẶC ĐIỂM NỔI BẬT
              a.mr-4.detail__deco-a(href='#')
                strong THÔNG TIN SẢN PHẨM
              a.detail__deco-a(href='#')
                strong ĐÁNH GIÁ
              hr
            .col-md-3.d-none.d-lg-block
              a.detail__deco-a(href='#')
                strong SẢN PHẨM BÁN CHẠY
              hr
          .row
            .col-lg-9
              .row.align-items-center
                .col-10.col-md-8.order-2.order-md-1
                  a.mb-3.border-bottom.detail__deco-a(href='#') THE MARK OF THE LEGEND
                  p.para.para--detail
                    | Tự hào được ghi là năm mà Tiffany & Co là
                    | thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    | qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    | đường cong và đường nét mượt mà.
                .col-md-4.mb-3.mb-md-3.order-1.order-md-2
                  img.detail__img(src='../../asset/images/sp-detail1.png')
              .row.align-items-center.ml-auto
                .col-10.offset-2.offset-sm-0.col-md-8.order-2.mb-5.text-right.text-sm-left
                  a.mb-3.border-bottom.detail__deco-a(href='#') THE MARK OF THE LEGEND
                  p.para.para--detail
                    | Tự hào được ghi là năm mà Tiffany & Co là
                    | thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    | qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    | đường cong và đường nét mượt mà.
                .col-10.offset-2.offset-sm-0.col-md-4.mb-3.mb-md-3.order-1.order-md-1
                  img.detail__img(src='../../asset/images/sp-detail2.png')
              .row.align-items-center
                .col-10.col-md-8.order-2.order-md-1
                  a.mb-3.border-bottom.detail__deco-a(href='#') THE MARK OF THE LEGEND
                  p.para.para--detail
                    | Tự hào được ghi là năm mà Tiffany & Co là
                    | thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    | qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    | đường cong và đường nét mượt mà.
                .col-md-4.mb-4.mb-md-3.order-1.order-md-2
                  img.detail__img(src='../../asset/images/sp-detail3.png')
              .row.align-items-center
                .col-md-8.order-2.text-right.text-sm-left
                  a.mb-3.border-bottom.detail__deco-a(href='#') THE MARK OF THE LEGEND
                  p.para.para--detail
                    | Tự hào được ghi là năm mà Tiffany & Co là
                    | thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với
                    | qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp
                    | đường cong và đường nét mượt mà.
                .col-10.offset-2.offset-sm-0.col-md-4.order-1.mb-2.mb-md-3
                  img.detail__img(src='../../asset/images/sp-detail4.png')
            .col-md-3.d-none.d-lg-block
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              br
              .row
                .col-12.d-none.d-lg-block
                  a.detail__deco-a(href='#')
                    strong SẢN PHẨM BÁN CHẠY
                  br
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
              hr
              .row.mb-4
                .col-6
                  img.detail__img(src='../../asset/images/aside-img.png')
                .pl-0.pr-0.col-6
                  a.detail__deco-a(href='#')
                    strong  Mỹ phẩm Châu Âu
                  img.detail__img(src='../../asset/images/4heart.png')
                  img(src='../../asset/images/aside-price.png')
      footer
        .container
          .row
            .col-md-4
              ul.text.list-unstyled.text-muted
                li
                  strong LIÊN HỆ VỚI CHÚNG TÔI
                each info in ['tầng 4, tòa nhà Hanoi Group Số 442 Hàng Giấy, Quận Hoàn Kiếm, Thành phố Hà Nội','(04) 6674 2332 - (04) 5785 2015','(04) 6674 2332 - Tinphamtp@gmail.com']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong CHUYỂN HÀNG
                each info in ['Mua sắm trực tuyến','Chính sách vận chuyển','Chính sách người dùng','Thông tin vận chuyển']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong HỖ TRỢ
                each info in ['Our story','Thanh toán an toàn','Thanh toán nhanh', 'Chính sách vận chuyển']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong THÔNG TIN
                each info in ['Về chúng tôi','Điều khoản & điều kiện','Điều khoản & yêu cầu','Đơn đặt hàng']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong MY ACCOUNT
                each info in ['Giỏ hàng','Sản phẩm yêu thích','Sản phẩm thường xem','Kiểm tra']
                    li= info
        hr
        .pay
          .container
            .row
              .col-sm-6
                p.para.para--pay CopyRight@ 2015 - 2019 | Danang Sun-asterisk
              .col-6.col-md-3.offset-md-3
                a(href='#')
                  img.detail--img(src='../../asset/images/pay.png')
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
