html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Resgister
    link(rel='stylesheet', href='../../asset/css/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    nav.navbar.navbar-expand-md.navbar-light.bg-light.custom-nav
      .container
        a.navbar-brand.custom-nav--brand(href='./pug/home.html')
          img.custom-nav--logo(src='../../asset/images/logo.png')
        button.navbar-toggler.d-lg-none(type='button', data-toggle='collapse', data-target='#collapsibleNavId', aria-controls='collapsibleNavId', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #collapsibleNavId.collapse.navbar-collapse
          ul.navbar-nav.mx-auto.mt-2.mt-lg-0.custom-nav--list
            li.nav-item.active
              a.nav-link(href='#')
                | Trang chủ
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Giới thiệu
            li.nav-item.dropdown
              a#dropdownId.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Sản phẩm
              .dropdown-menu(aria-labelledby='dropdownId')
                a.dropdown-item(href='#')
                  | Action
                  | 1
                a.dropdown-item(href='#') Action 2
            li.nav-item
              a.nav-link(href='#')
                | Tin tức
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Bản đồ
            li.nav-item
              a.nav-link(href='#') Liên hệ
          i.fas.fa-shopping-cart.custom-nav--cart.mr-5.ml-5
          form.form-inline.my-2.my-lg-0
            button.btn.btn-outline-success.my-2.my-sm-0.ml-auto(type='submit')
    nav(aria-label='breadcrumb')
      ol.breadcrumb.custom-breadcrumb
        .container
          .row
            li.breadcrumb-item
              a(href='../pug/home.html') Home
            li.breadcrumb-item Đăng ký
    .container
      .row
        .col-sm-2
          h4.para ĐĂNG KÝ
    .container
      .row
        .col-md-12
          .wrap-form.mb-5
            .form-group.custom-form
              h6 THÔNG TIN CÁ NHÂN
              label(for='') Tên trước*
              input.form-control(type='text', name='', id='', aria-describedby='helpId')
              label(for='') Tên sau*
              input.form-control(type='text', name='', id='', aria-describedby='helpId')
              label(for='') Email*
              input.form-control(type='text', name='', id='', aria-describedby='helpId')
              label(for='') Password*
              input.form-control.mb-3(type='text', name='', id='', aria-describedby='helpId')
              hr
              h6 THÔNG TIN CÁ NHÂN
              label(for='') Mật khẩu*
              input.form-control(type='text', name='', id='', aria-describedby='helpId')
              label(for='') Xác nhận mật khẩu*
              input.form-control(type='text', name='', id='', aria-describedby='helpId')
            .row
              .col-sm-2.mr-auto
                a.btn.btn-dark.custom-btn.pr-4.pl-4.mt-2(href='#', role='button') GỬI
              .col-sm-2
                a.btn.btn-dark.custom-btn.pr-4.pl-4.mt-2(href='#', role='button') ⇐ QUAY LẠI
    footer
        .container
          .row
            .col-md-4
              ul.text.list-unstyled.text-muted
                li
                  strong LIÊN HỆ VỚI CHÚNG TÔI
                each info in ['tầng 4, tòa nhà Hanoi Group Số 442 Hàng Giấy, Quận Hoàn Kiếm, Thành phố Hà Nội','(04) 6674 2332 - (04) 5785 2015','(04) 6674 2332 - Tinphamtp@gmail.com']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong CHUYỂN HÀNG
                each info in ['Mua sắm trực tuyến','Chính sách vận chuyển','Chính sách người dùng','Thông tin vận chuyển']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong HỖ TRỢ
                each info in ['Our story','Thanh toán an toàn','Thanh toán nhanh', 'Chính sách vận chuyển']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong THÔNG TIN
                each info in ['Về chúng tôi','Điều khoản & điều kiện','Điều khoản & yêu cầu','Đơn đặt hàng']
                    li= info
            .col-md-2
              ul.text.list-unstyled.text-muted
                li
                  strong MY ACCOUNT
                each info in ['Giỏ hàng','Sản phẩm yêu thích','Sản phẩm thường xem','Kiểm tra']
                    li= info
        hr
        .pay
          .container
            .row
              .col-sm-6
                p.para.para--pay CopyRight@ 2015 - 2019 | Danang Sun-asterisk
              .col-6.col-md-3.offset-md-3
                a(href='#')
                  img.shoppingCart--img(src='../../asset/images/pay.png')
